{
  "summary": {
    "enabled": true
  },
  "platform_database": {
    "enabled": true,
    "dbconfig_whitelist" : [
      "dbpersist",
      "dbsocket",
      "dbport",
      "dbschema",
      "dbhandlesoptions",
      "bulkinsertsize",
      "sslmode",
      "ftslanguage",
      "fts3bworkaround",
      "ftsaccentsensitivity",
      "ftsngram",
      "dbcollation",
      "dbengine",
      "client_ssl",
      "client_dont_verify_server_cert",
      "ssl_verify_server_cert",
      "create_table_from_select_supported",
      "encrypt",
      "trustservercertificate"
    ]
  },
  "totara_plugins": {
    "enabled": true
  },
  "totara_upgrade_history": {
    "enabled": true,
    "whitelist": [
      "totara_core"
    ]
  },
  "platform_phpini": {
    "enabled": true,
    "whitelist": [
      "always_populate_raw_post_data",
      "error_log",
      "file_uploads",
      "get_loaded_extensions",
      "max_execution_time",
      "max_file_uploads",
      "max_input_vars",
      "max_input_vars",
      "mbstring.func_overload",
      "memory_limit",
      "opcache.enable",
      "post_max_size",
      "upload_max_filesize"
    ]
  },
  "totara_config": {
    "enabled": true,
    "whitelist": [
      "allowcategorythemes",
      "allowcoursethemes",
      "allowprelogintenanttheme",
      "allowuserblockhiding",
      "allowuserthemes",
      "audiencevisibility",
      "autolang",
      "backup_release",
      "backup_version",
      "badges_allowcoursebadges",
      "badges_allowexternalbackpack",
      "block_totara_recommendations_dayctr",
      "block_totara_recommendations_overctr",
      "block_totara_recommendations_recctr",
      "branch",
      "cache_graphql_schema",
      "cachejs",
      "catalogtype",
      "chat_method",
      "clone_dbhost",
      "clone_dbname",
      "clone_dboptions",
      "completiondefault",
      "country",
      "coursesperpage",
      "dbfamily",
      "dblibrary",
      "dbtype",
      "debug",
      "debugdeveloper",
      "debugdisplay",
      "defaultquickaccessmenu",
      "deletecompletionlogs",
      "disablegradehistory",
      "dynamicappraisals",
      "dynamicappraisalsautoprogress",
      "enableapi",
      "enableappraisals",
      "enableavailability",
      "enablebadges",
      "enableblogs",
      "enablecalendarexport",
      "enablecertifications",
      "enablecompetencies",
      "enablecompetency_assignment",
      "enablecompletion",
      "enablecompletionimport",
      "enablecontainer_workspace",
      "enablecontentmarketplaces",
      "enablecourserequests",
      "enablecourserpl",
      "enableengage_resources",
      "enableevidence",
      "enablefeedback360",
      "enableglobalrestrictions",
      "enableglobalsearch",
      "enablegoals",
      "enablegravatar",
      "enablelearningplans",
      "enablelegacyprogramassignments",
      "enableml_recommender",
      "enablemobilewebservice",
      "enablemyteam",
      "enablenotes",
      "enableorganisations",
      "enableoutcomes",
      "enableperformance_activities",
      "enableplagiarism",
      "enableportfolios",
      "enablepositions",
      "enableprogramcompletioneditor",
      "enableprogramextensionrequests",
      "enableprograms",
      "enablerecordoflearning",
      "enablereportcaching",
      "enablereportgraphs",
      "enablerssfeeds",
      "enablesitepolicies",
      "enablestats",
      "enabletempmanagers",
      "enabletotara_msteams",
      "enabletotaradashboard",
      "enableuser_reports",
      "enablewebservices",
      "enablewsdocumentation",
      "enrol_plugins_enabled",
      "extramemorylimit",
      "facetoface_allow_legacy_notifications",
      "facetoface_allowwaitlisteveryone",
      "facetoface_approvaloptions",
      "facetoface_calendarfilters",
      "facetoface_disableicalcancel",
      "facetoface_displaysessiontimezones",
      "facetoface_export_customprofilefields",
      "facetoface_export_userprofilefields",
      "facetoface_hidecost",
      "facetoface_hidediscount",
      "facetoface_lotteryenabled",
      "facetoface_managerselect",
      "facetoface_multisignup_restrict",
      "facetoface_multisignupamount",
      "facetoface_notificationdisable",
      "facetoface_oneemailperday",
      "facetoface_previouseventstimeperiod",
      "facetoface_roomidentifier",
      "facetoface_selectjobassignmentonsignupglobal",
      "facetoface_session_roles",
      "facetoface_session_rolesnotify",
      "facetoface_waitlistautoclean",
      "filter_multilang_converted",
      "filter_multilang_force_old",
      "filterall",
      "forceflavour",
      "forcetimezone",
      "fullnamedisplay",
      "graphqlsessionwritecloseenabled",
      "lang",
      "langcache",
      "langstringcache",
      "locale",
      "lock_factory",
      "media_plugins_sortorder",
      "messaging",
      "mobile_device_emulator",
      "os",
      "ostype",
      "perfdebug",
      "perform_close_suspended_user_instances",
      "perform_hide_incomplete_responses_closed_instances",
      "perform_hide_suspended_users",
      "perform_sync_participant_instance_closure",
      "perform_sync_participant_instance_creation",
      "preventfilelocking",
      "profilingenabled",
      "release",
      "reverseproxyignore",
      "searchengine",
      "session_database_acquire_lock_timeout",
      "session_file_save_path",
      "session_handler_class",
      "session_memcached_acquire_lock_timeout",
      "session_memcached_lock_expire",
      "session_memcached_lock_retry_sleep",
      "session_memcached_prefix",
      "session_memcached_save_path",
      "session_redis_acquire_lock_timeout",
      "session_redis_database",
      "session_redis_host",
      "session_redis_lock_expire",
      "session_redis_lock_retry",
      "session_redis_port",
      "session_redis_prefix",
      "session_redis_serializer_use_igbinary",
      "session_redis5_database",
      "session_redis5_host",
      "session_redis5_lock_expire",
      "session_redis5_lock_retries",
      "session_redis5_lock_wait_time",
      "session_redis5_port",
      "session_redis5_prefix",
      "session_redis5_sentinel_hosts",
      "session_redis5_sentinel_master",
      "session_redis5_serializer_use_igbinary",
      "session_redis5_timeout",
      "session_update_timemodified_frequency",
      "showcrondebugging",
      "sitetype",
      "stringfilters",
      "tempmanagerexpirydays",
      "tempmanagerrestrictselection",
      "tenantready",
      "tenantsenabled",
      "tenantsisolated",
      "texteditors",
      "theme",
      "timezone",
      "totara_build",
      "totara_job_allowmultiplejobs",
      "totara_release",
      "totara_version",
      "totaramessagingenabled",
      "usetags",
      "version"
    ]
  },
  "totara_config_plugin": {
    "enabled": true,
    "whitelist": {
      "totara_competency": [
        "continuous_tracking",
        "unassign_behaviour"
      ],
      "totara_mobile": [
        "authtype",
        "coursecompat",
        "enable",
        "logo",
        "primarycolour",
        "textcolour",
        "timeout",
        "urlscheme"
      ],
      "totara_msteams": [
        "bot_feature_enabled",
        "manifest_app_name",
        "manifest_app_version",
        "messaging_extension_enabled"
      ],
      "facetoface": [
        "attendancetime",
        "decluttersessiontable",
        "defaultcsvdelimiter",
        "defaultdaysbetweenstartfinish",
        "defaultdaysskipweekends",
        "defaultdaystosession",
        "defaultfinishtime_minutes",
        "defaultminbookings",
        "defaultstarttime_minutes",
        "eventgradingmanual",
        "eventgradingmethod",
        "gradepass",
        "managerreserve",
        "maxmanagerreserves",
        "reservecanceldays",
        "reservedays",
        "sessionattendance",
        "upgrade_customfieldmigration_cancellation",
        "upgrade_customfieldmigration_signup"
      ],
      "totara_flavour": [
        "currentflavour"
      ],
      "reportbuilder": [
        "exportoptions",
        "exporttofilesystem",
        "financialyear",
        "globalrestrictiondefault",
        "globalrestrictionrecordsperpage",
        "noactiverestrictionsbehaviour"
      ],
      "totara_reportbuilder": [
        "allowedscheduledrecipients",
        "allowtotalcount",
        "defaultgraphcolors",
        "defaultreportview",
        "filesizelimit",
        "globalinitialdisplay",
        "graphlibclass",
        "schedulerfrequency",
        "showdescription",
        "userrestrictaudience"
      ],
      "totara_api": [
        "client_rate_limit",
        "default_token_expiration",
        "max_query_complexity",
        "max_query_depth",
        "response_debug",
        "site_rate_limit"
      ],
      "moodlecourse": [
        "completionprogressonview",
        "completionstartonenrol",
        "coursedisplay",
        "courseduration",
        "courseenddateenabled",
        "enablecompletion",
        "format",
        "groupmode",
        "groupmodeforce",
        "hiddensections",
        "lang",
        "maxbytes",
        "maxsections",
        "newsitems",
        "numsections",
        "showgrades",
        "showreports",
        "visible",
        "visiblelearning"
      ]
    }
  },
  "cache_information": {
    "enabled": true
  },
  "db_row_counts": {
    "enabled": true
  },
  "performance_database": {
    "enabled": false
  },
  "performance_io": {
    "enabled": false
  },
  "platform_security_check": {
    "enabled": false
  },
  "platform_performance_check": {
    "enabled": false
  }
}