<div class="forumsearch">
    <form action="{{actionurl}}" class="form-inline">
        {{#helpicon}}
            {{>core/help_icon}}
        {{/helpicon}}
        <input type="hidden" name="id" value="{{courseid}}">
        <label class="accesshide" for="search">{{#str}}search, forum{{/str}}</label>
        <input class="form-control" id="search" name="search" type="text" size="18" value="{{query}}">
        <input class="button" id="searchforums" type="submit" value={{#quote}}{{#str}}searchforums, forum{{/str}}{{/quote}}>
    </form>
</div>
