{{!
    @template bi_intellidata/data_format_selector

    Template for dataformat selection and download form.

    Context variables required for this template:
    * label
    * base
    * name
    * params
    * options
    * sesskey
    * submit

    Example context (json):
    {
        "base": "http://example.org/",
        "name": "test",
        "label": "Download table data as",
        "params": false,
        "options": [{"label": "CSV", "name": "csv"}, {"label": "Excel", "name": "excel"}],
        "submit": "Download"
    }
}}
<form method="POST" action="{{base}}" class="dataformatselector">
    <div class="mdl-align">
        <input type="hidden" name="sesskey" value="{{sesskey}}">
        <label for="downloadtype_{{name}}">{{label}}</label>
        <select name="{{name}}" id="downloadtype_{{name}}">
        {{#options}}
            <option value="{{value}}">{{label}}</option>
        {{/options}}
        </select>
        <input type="submit" value="{{submit}}">
        {{#params}}
        <input type="hidden" name="{{name}}" value="{{value}}" />
        {{/params}}
    </div>
</form>
