$overlay-background: rgba(0, 0, 0, 0);
$font-family: inherit;
$text-color: inherit;
$text-color-subtle: #767676;
$link-color: #0074BE;
$link-color-hover: #006ab4;
$font-size: inherit;
$font-size-mobile: inherit;
$font-size-small: 1em;
$font-size-code: 1em;
$font-size-code-block: 1em;
$font-size-small-heading: revert;
$font-size-example-heading: revert;